# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# flycheck temp file
.flycheck*

.cache/
.extension/
.ccls-cache/
.lsp-session-v1
elpa/
eln-cache/
eshell/
straight/
transient/
url/
var/
quelpa/
codeium/
auto-save-list
bookmarks
network-security.data
recentf
custom.el
pyim-bigdict.pyim.gz
org-roam.db
wget-log
org-journal.cache
wget-log.*
/tree-sitter/
/gpt.api.key
